<h1>{{(isLoginPage$ | async) ? 'Вход' : 'Регистрация'}}</h1>
<tui-textfield>
  <input
    placeholder="Имя"
    tuiTextfield
    type="text"
    [(ngModel)]="user.name"
  />
</tui-textfield>
<tui-textfield>
  <input
    placeholder="Пароль"
    tuiTextfield
    type="password"
    [(ngModel)]="user.password"
  />
  <tui-icon tuiPassword />
</tui-textfield>

<div class="footer">
  @if (isLoginPage$ | async) {
    <button [disabled]="!isFormCompleted" type="button" tuiButton (click)="login()">Войти</button>
  } @else {
    <button [disabled]="!isFormCompleted" type="button" tuiButton (click)="signup()">Зарегистрироваться</button>
  }
</div>
