<h1>{{title$ | async}}</h1>
<tui-textfield>
  <input
    placeholder="I am placeholder"
    tuiTextfield
    type="text"
    [(ngModel)]="userData.username"
  />
</tui-textfield>
<tui-textfield>
  <input
    placeholder="I am placeholder"
    tuiTextfield
    type="password"
    [(ngModel)]="userData.password"
  />
  <tui-icon tuiPassword />
</tui-textfield>

@if (isLoginPage$ | async) {
  <button type="button" tuiButton (click)="login()">Войти</button>
} @else {
  <button type="button" tuiButton (click)="signup()">Зарегистрироваться</button>
}
