:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--S20);

  .header {
    display: flex;
    justify-content: right;
    width: 80%;
    margin-bottom: var(--S20);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  app-todo-card + app-todo-card {
    margin-top: var(--S16);
  }
}
