/* You can add global styles to this file, and also import other style files */
:root  {
  --S2: 2px;
  --S4: 4px;
  --S8: 8px;
  --S10: 10px;
  --S16: 16px;
  --S20: 20px;
  --S24: 24px;
}

.context-menu {
  display: flex;
  flex-direction: column;
  button {
    padding: var(--S4) var(--S8);
    cursor: pointer;
    border: none;
    background: none;
    &:hover {
      background-color: rgba(239, 236, 236, 0.82);
    }
  }
}

.modal__body {
  margin: var(--S16) 0;
}
