:host{
  display: block;
  .card {
    border: 1px solid rgb(247 233 233);
    border-radius: var(--S16);
    padding: var(--S10) var(--S16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0 var(--S10) var(--S20) 0;
    box-sizing: border-box;

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        color: gray;
        width: var(--S16);
      }
    }

    &__body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font: var(--tui-font-text-m);
        margin: 0 var(--S8) 0 0;
      }
    }
  }
}
